APP_NAME=skeleton

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

MAILER_HOST=smtp.163.com
MAILER_PORT=465
MAILER_CHARSET=UTF-8
MAILER_ENCRYPTION=ssl
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROMADDR=
MAILER_FROMNAME=